block Head
  // Title
  title Miqueas Martinez

  // === SEO ===
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="author" content="Miqueas Martinez")
  meta(name="copyright" content="Miqueas Martinez")
  meta(name="description" content="Programmer — Designer")
  meta(name="keywords" content="css,html,js,javascript")
  meta(name="keywords" content="dev,programmer,developer,programador,desarrollador")
  meta(name="robots" content="index,nofollow")

  // === CSS ===
  // Font Awesome
  link(
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
    crossorigin="anonymous"
  )

  // Custom build of Orbit CSS (orbitcss.com)
  link(rel="stylesheet" href="Static/orbit.min.css")
  // My own CSS
  link(rel="stylesheet" href="Static/Styles.css")