block Nav
  nav.top.is-tablet-down.has-bg-white(
    style="width: 100%; position: fixed; box-shadow: 0 0 20px rgba(0,0,0,0.2);"
  )
    .top__brand
      .image.is-tiny-square.is-rounded
        img(
          src="Static/Brand.jpg"
          width="100%"
          height="100%"
          style="border-radius: 50%;"
        ).has-bg-light

    .top__brand.has-no-padding-left.grid
      .column.is-full.has-no-padding
        h6.has-no-margin Miqueas Martinez
      .column.is-full.has-no-padding
        small: em(say="subtitle")

    // Language selection
    .is-end
      button#mobile-burger.button.is-primary.is-rounded
        i.fas.fa-bars

  // Mobile menu
  #mobile-menu.modal.is-full
    .modal__background
    .modal__content.has-no-padding
      .card.has-no-shadow
        .card__header.grid.has-spacing
          .column.is-shrink.is-mobile-shrink
            h4 Menu
          .column.is-shrink.is-mobile-shrink
            button#mobile-menu-close-btn.button.is-primary.is-rounded(style="margin:0;")
              i.fas.fa-times
        .card__content
          .is-button-group
            button#en-btn-mobile.button.is-primary.is-rounded English
            button#es-btn-mobile.button.is-primary.is-rounded Español