block Nav
  nav.top.is-tablet-down.has-bg-white(
    style="width: 100%; position: fixed; box-shadow: 0 0 20px rgba(0,0,0,0.2);"
  )
    .top__brand
      .image.is-tiny-square.is-rounded
        img(
          src="Static/Brand.png"
          width="100%"
          height="100%"
          style="border-radius: 50%;"
        ).has-bg-light

    .top__brand.has-no-padding-left
      h6.has-no-margin Miqueas Martinez

    // Language selection
    .is-end
      //button#mobile-burger.button.is-link.is-rounded.has-text-white
        i.fas.fa-bars
      //.is-button-group
        button#en-btn-mobile.button.is-link.is-rounded.has-text-white English
        button#es-btn-mobile.button.is-link.is-rounded.has-text-white Español