block Sidebar
  .column.is-shrink.is-desktop-up(
    style="width: 300px; position: fixed;"
  )
    .card.has-no-shadow(style="height: 100vh;")
      .card__content.grid.is-vertical
        // Profile image
        .column.is-shrink(style="margin-right: auto; margin-left: auto;")
          .image.is-square.is-rounded
            img(
              src="Static/Brand.jpg"
              width="100%"
              height="100%"
              style="border-radius: 50%;"
            ).has-bg-light

        // Nav links
        .column.grid.has-no-padding-top.has-no-padding-left.has-no-padding-right.is-vertical
          .column.is-full.has-text-center
            h4 Miqueas Martinez
            small: em(say="subtitle")

          .column.is-full
            ul.has-no-list-style
              li: a(route="home" say="home_link")#home-btn
              li: a(route="services" say="services_link")#services-btn
              li: a(route="contact" say="contact_link")#contact-btn

      .card__footer.grid
        // Language selection
        .column.is-full
          .is-button-group
            button#en-btn.button.is-primary.is-rounded English
            button#es-btn.button.is-primary.is-rounded Español

        // Social
        .column.is-full
          ul.is-inline-list
            li: a(target="_blank" rel="nofollow,noreferrer" href="https://wa.me/573207359605").fab.fa-whatsapp
            li: a(target="_blank" rel="nofollow,noreferrer" href="https://t.me/M1que4s").fab.fa-telegram-plane
            li: a(target="_blank" rel="nofollow,noreferrer" href="https://forobeta.com/members/m1que4sm4rt1nez.196502/").fas.fa-comment-alt
            li: a(target="_blank" rel="nofollow,noreferrer" href="https://mas.to/@M1que4s").fab.fa-mastodon
            li: a(target="_blank" rel="nofollow,noreferrer" href="mailto:miqueas2020@yahoo.com").fas.fa-envelope

        // Copyright
        .grid.column.is-full.has-no-padding-top
          small.column.is-full.has-no-padding-top.has-no-padding-left.has-no-padding-right.
            &copy; 2021 Miqueas Martinez
          small.column.is-full.has-no-padding(say="sidebar_footer")