block Sidebar
  .column.is-shrink.is-desktop-up(
    style="width: 300px; position: fixed;"
  )
    .card.has-no-shadow(style="height: 100vh;")
      .card__content.grid.is-vertical
        // Profile image
        .column.is-shrink(style="margin-right: auto; margin-left: auto;")
          .image.is-square.is-rounded
            img(
              src="Static/Brand.png"
              width="100%"
              height="100%"
              style="border-radius: 50%;"
            ).has-bg-light

        // Nav links
        .column.grid.has-no-padding-top.has-no-padding-left.has-no-padding-right.is-vertical
          .column.is-full: h4 Miqueas Martinez

          .column.is-full
            ul.has-no-list-style.has-link-inherit
              // li: a(href="/") Home
              // li.has-text-muted Blog (coming soon)
              // li: a(href="/contact") Contact

        .card__footer.grid
          // Language selection
          .column.is-full
            ul.is-inline-list
              li: button#en-btn.button.is-link.is-rounded.has-text-white English
              li: button#es-btn.button.is-link.is-rounded.has-text-white Español

          .column.is-full
            ul.is-inline-list
              li: a(href="https://t.me/M1que4s").fab.fa-telegram-plane
              li: a(href="https://mas.to/@M1que4s").fab.fa-mastodon
              li: a(href="mailto:miqueas2020@yahoo.com").fas.fa-envelope
          .column.is-full.has-no-padding-top
            small.has-text-muted &copy; 2021 Miqueas Martinez