block projects
  .container: .row.row-cols-auto
    .col.mb-4: a(href="https://github.com/Miqueas/TapeDeck")
      img(
        alt="Tape Deck repo badge"
        src="https://github-readme-stats.vercel.app/api/pin/?username=Miqueas&repo=TapeDeck&bg_color=00000000&title_color=f8f9fa&text_color=f8f9fa&icon_color=f8f9fa&border_color=6c757d"
      )

    .col.mb-4: a(href="https://github.com/Miqueas/Lua-GTK3-Examples")
      img(
        alt="Lua-GTK3-Examples repo badege"
        src="https://github-readme-stats.vercel.app/api/pin/?username=Miqueas&repo=Lua-GTK3-Examples&bg_color=00000000&title_color=f8f9fa&text_color=f8f9fa&icon_color=f8f9fa&border_color=6c757d"
      )

    .col.mb-4: a(href="https://github.com/Miqueas/Self")
      img(
        alt="Self repo badge"
        src="https://github-readme-stats.vercel.app/api/pin/?username=Miqueas&repo=Self&bg_color=00000000&title_color=f8f9fa&text_color=f8f9fa&icon_color=f8f9fa&border_color=6c757d"
      )
    
    .col.mb-4: a(href="https://github.com/Miqueas/Logit")
      img(
        alt="Logit repo badge"
        src="https://github-readme-stats.vercel.app/api/pin/?username=Miqueas&repo=Logit&bg_color=00000000&title_color=f8f9fa&text_color=f8f9fa&icon_color=f8f9fa&border_color=6c757d"
      )

    .col.mb-4: a(href="https://github.com/Miqueas/Github-REST-API-Example")
      img(
        alt="Github REST API Example repo badge"
        src="https://github-readme-stats.vercel.app/api/pin/?username=Miqueas&repo=Github-REST-API-Example&bg_color=00000000&title_color=f8f9fa&text_color=f8f9fa&icon_color=f8f9fa&border_color=6c757d"
      )

    .col.mb-4: a(href="https://github.com/Miqueas/C-GTK3-Examples")
      img(
        alt="C GTK3 Examples repo badge"
        src="https://github-readme-stats.vercel.app/api/pin/?username=Miqueas&repo=C-GTK3-Examples&bg_color=00000000&title_color=f8f9fa&text_color=f8f9fa&icon_color=f8f9fa&border_color=6c757d"
      )
    
    .col.mb-4: a(href="https://github.com/Miqueas/Lua-C-API")
      img(
        alt="Lua C API repo badge"
        src="https://github-readme-stats.vercel.app/api/pin/?username=Miqueas&repo=Lua-C-API&bg_color=00000000&title_color=f8f9fa&text_color=f8f9fa&icon_color=f8f9fa&border_color=6c757d"
      )
    
    .col.mb-4: a(href="https://github.com/Miqueas/LBW")
      img(
        alt="LBW repo badge"
        src="https://github-readme-stats.vercel.app/api/pin/?username=Miqueas&repo=LBW&bg_color=00000000&title_color=f8f9fa&text_color=f8f9fa&icon_color=f8f9fa&border_color=6c757d"
      )